.container {
    position: relative;
    text-align: center;
    max-width: 50rem;
    max-height: 60rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f1f5f8;
    box-shadow: 0 0 10px lightslategray;
}

.warning {
    /* font-size: 2rem;
    /* text-size-adjust: 2rem; */
    /* font-weight: 600;
    width: 40rem;
    padding: 1rem 2rem; */ 
    /* box-shadow: 0 0 .5rem grey; */
    margin: 2rem auto;
}

.success{
    width: 40rem;
display: flex;
gap: 2rem;
margin: 1rem;
}
.btn, .btn:link, .btn:visited{
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    text-decoration: none;
width: 20rem;
text-align: center;
    margin: 0 auto;
}
.btn-primary {
color: white;
background-color: blueviolet;
}
.btn-primary:hover, .btn-primary:active{
    background-color: rgb(101, 27, 170);
}
.btn-secondary{
    color: white;
    background-color: #444;
}
.form-btn{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.btn-secondary:hover, .btn-secondary:active{
    background-color: #333;
}
.appointment-title {
    font-size: 2rem;
    color: rgb(0, 153, 255);
    font-weight: 300;
    padding: 1rem 2rem;
    font-family: cursive;
    /* text-decoration: underline; */
    /* box-shadow: 0 0 .5rem grey; */
    margin: 2rem auto 0 auto;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    gap: 1.5rem;
    width: 40rem;
    height: 50rem;
    font-size: 1.8rem;
    padding-left: 1rem ;
}
.form-item{
    font-size: 1.8rem;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}
input[type="text"]{
    font-size: 1.8rem;
    padding: .5rem 1rem;
    /* border-radius: 1rem; */
    /* border: none; */
    /* outline: 1px top solid grey; */
    /* border-bottom: 1px solid grey; */
}
.text-field{
    font-size: 1.8rem;
}
.text-field label{
    font-size: 1.8rem;
}
input[type="number"]{
    font-size: 1.8rem;
    padding: .5rem 1rem;
    /* border-radius: 1rem; */
    /* border: none; */
    /* outline: 1px solid grey; */
}
input[type="email"]{
    font-size: 1.8rem;
    padding: .5rem 1rem;
    /* border-radius: 1rem; */
    /* border: none; */
    /* outline: 1px solid grey; */
}

