/* .Footerh{
    background-color: rgb(178, 213, 224);
    height: 200px;
    width: auto;
}
.href{
    color: rgb(4, 14, 24);
    align-items: center;
    margin: 50%;
}
.footer-para {
    margin: 0;
    padding: 0;
} */

.row{
    background-color: #79DAE8;
    height: 10rem;
}
.footer p {
    font-size: 12px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 25px 0;
}
.footer a i.fa {
    font-size: 24px;
    color: #bec5c5;
    padding: 22px 10px;
}
.footer a i.fa:hover {
    color: #85bed6;
}
.carousel-inner {
    position: relative;
}