.container {
  position: relative;
  max-width: 50rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8F9FD;
  box-shadow: 0 0 10px lightslategray;
  border-radius: 15px;
}

.warning {
  /* font-size: 2rem;
    /* text-size-adjust: 2rem; */
  /* font-weight: 600;
    width: 40rem;
    padding: 1rem 2rem; */
  /* box-shadow: 0 0 .5rem grey; */
  margin: 2rem auto;
}

.success {
  width: 40rem;
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  width: 20rem;
  text-align: center;
  margin: 0 auto;
}
.btn-primary {
  color: white;
  background-color: blueviolet;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: rgb(101, 27, 170);
}
.btn-secondary {
  color: white;
  background-color: #444;
}
.form-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #333;
}
.title {
  font-family: cursive;
  color: rgb(1, 102, 253);
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  /* box-shadow: 0 0 .5rem grey; */
  margin: 2rem auto 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem;
}
.form-item {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  width: 37rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
input[type="text"] {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  /* border-radius: 1rem; */
  /* border: none; */
  /* outline: 1px top solid grey; */
  /* border-bottom: 1px solid grey; */
}
.text-field {
  font-size: 1.8rem !important;
}
.text-field label {
  font-size: 1.8rem !important;
}
input[type="number"] {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  /* border-radius: 1rem; */
  /* border: none; */
  /* outline: 1px solid grey; */
}
input[type="email"] {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  /* border-radius: 1rem; */
  /* border: none; */
  /* outline: 1px solid grey; */
}
.datePicker {
  font-size: 1.8rem;
}

.buttonHolder{
  margin:auto;
}

.date-pickerr label {
  font-size: 1.9rem !important;
}

